@import "http://fonts.fontstorage.com/import/opensans.css";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

*, 
*:before, 
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before, 
.clearfix:after {
	content: ""; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.navigation {
	background-color: #7EAFC8;
	font-size: 20px;
	font-weight: 600;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0;
	text-align: center;
}

.navigation ul li {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 20px;
	border-right: 1px solid #FFFFFF;
}

.navigation ul li:last-child {
	border-right: none;
}

.navigation a {
	display: inline-block;
	padding: 15px 20px;
	color: #FFFFFF;
	text-decoration: none;
}

.navigation a:hover {
	background-color: #7EBDC8;
}











/* ==========================================================================
   Desktop First Method 
   ========================================================================== */

/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops - adaptive styles bofore 992px */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets - adaptive styles bofore 768px */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones - adaptive styles bofore 480px */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina - adaptive styles bofore 320px */
@media only screen and (max-width : 320px) {

}