@import "http://fonts.fontstorage.com/import/opensans.css";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

*, 
*:before, 
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before, 
.clearfix:after {
	content: ""; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.navigation {
	background-color: #7EAFC8;
	font-size: 20px;
	font-weight: 600;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0;
	text-align: center;
}

.navigation ul li {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 20px;
	border-right: 1px solid #FFFFFF;
}

.navigation ul li:last-child {
	border-right: none;
}

.navigation a {
	display: inline-block;
	padding: 15px 20px;
	color: #FFFFFF;
	text-decoration: none;
}

.navigation a:hover {
	background-color: #88BDCC;
}

#pull {
	border-bottom: 1px solid #FFFFFF;
	position: relative;
	display: none;
}

#pull:after {
	content: "";
	display: block;
	background: url(../images/nav-icon.png);
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	
	position: absolute;
	top: 15px;
	right: 5px;
}







/* ==========================================================================
   Desktop First Method 
   ========================================================================== */

/* Small Devices, Tablets - adaptive styles bofore 720px */
@media only screen and (max-width : 720px) {
	
	.navigation ul {
		display: none;
	}

	.navigation ul li {
		display: block;
		border-right: none;
		border-bottom: 1px solid #FFFFFF;
		text-align: left;
	}

	.navigation a {
		display: block;
	}

	#pull {
		display: block;
	}

}
